@import "fontawesome/css/fontawesome.css";
@import "fontawesome/css/all.css";
@import "PagesStyles.css";
@import "NavMenu.css";
@import "contentStyles/mainContent.css";

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    user-select: none;
    user-focus: none;
    text-decoration: none;
    font-family: cursive;
    color: rgba(0, 21, 110, 0.7);;
}


.App {
    overflow: hidden;
    background-color: #a6e5cd;
    width: 100%;
    height: 650px;

    display: grid;
    grid-template-rows: 25px auto;
}

.Header {
    background-color: #294e50;
    width: 100%;
    height: 25px;
    border-radius: 0 0 10px 10px;

    display: grid;
    grid-template-columns: 87% 5% 2% 5%;
}

.HeaderDrag {
    -webkit-app-region: drag;
}

.HeaderBtn {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    transition-duration: 250ms;

    border-left: 2px solid #a6e5cd;
    border-right: 2px solid #a6e5cd;
    border-radius: 10px;
}

.HeaderBtn:hover {
    background-color: #487175;
}