.StaticPage {
    background-color: #b4b1b9;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 18% 5px auto;
    overflow: hidden;
}

.divider {
    margin-top: 19px;
    height: 95%;
    background-color:  rgba(0, 21, 110, 0.7);
    border-radius: 15px 15px;
}